<table class="table table-hover table-borderless" id="work_orders_table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Customer</th>
      <th scope="col">Customer type</th>
      <th scope="col">In date</th>
      <th scope="col">Due date</th>
      <th scope="col">Created by</th>
      <th scope="col">Ship?</th>
      <th scope="col" class="text-end">Estimate</th>
    </tr>
  </thead>
  <tbody>
    <% work_orders.each do |work_order| %>
      <tr class="<%= dom_class(work_order) %> clickable-row" id="<%= dom_id(work_order) %>" data-href="<%= work_order_path(work_order) %>">
        <td scope="row"><%= highlight(work_order.number, params[:query]) %></td>
        <td><%= highlight((customer || work_order.customer).full_name, params[:query]) %></td>
        <td><%= (customer || work_order.customer).customer_type %></td>
        <td><%= work_order.in_date.to_formatted_s(:long) %></td>
        <td>
          <% if work_order.overdue? %>
            <div class="text-danger">
          <% elsif work_order.due_soon? %>
            <div class="text-success">
          <% end %>
            <%= work_order.due_date.to_formatted_s(:long) %>
          <% if work_order.overdue? || work_order.due_soon? %>
            </div>
          <% end %>
        </td>
        <td><%= work_order.creator %></td>
        <td><%= work_order.shipping ? '📦' : '' %></td>
        <td class="text-end"><%= work_order.price.format %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
{
  const clickable_rows = document.getElementsByClassName("clickable-row");
  Array.prototype.forEach.call(clickable_rows, (row) => {
      row.addEventListener("click", () => {
        const fakeLink = document.createElement("a");
        document.body.append(fakeLink);
        fakeLink.href = row.dataset.href
        fakeLink.click();
        fakeLink.remove();
      });
  });
}
</script>
