<%= form_with(model: quote_request) do |form| %>
  <% if quote_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote_request.errors.count, "error") %> prohibited this quote_request from being saved:</h2>

      <ul>
        <% quote_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :item_type %>
    <%= form.text_field :item_type %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :will_mail_item %>
    <%= form.text_field :will_mail_item %>
  </div>

  <div class="field">
    <%= form.label :promo_code %>
    <%= form.text_field :promo_code %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
