<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @quote_request.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @quote_request.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @quote_request.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @quote_request.phone_number %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @quote_request.item_type %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @quote_request.brand %>
</p>

<p>
  <strong>Will mail item:</strong>
  <%= @quote_request.will_mail_item %>
</p>

<p>
  <strong>Promo code:</strong>
  <%= @quote_request.promo_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quote_request.description %>
</p>

<p>
  <strong>Images:</strong>
  <% @quote_request.images.each do |image| %>
    <div><%= link_to image.filename, image %></div>
  <% end %>
</p>

<%= link_to 'Edit', edit_quote_request_path(@quote_request) %> |
<%= link_to 'Back', quote_requests_path %>
