<h1 class="display-6">Dashboard</h1>

<div class="col-5 p-3 rounded my-4 bg-secondary bg-gradient text-light">
  <h2 class="display-5"><%= @total_price_of_non_invoiced_items.format %></h2>
  <p>from <strong><%= pluralize(@number_of_non_invoiced_items, 'item') %></strong> not yet invoiced</p>
</div>

<h2>Sample Reports</h2>
<ul>
  <li><%= link_to 'All Items', items_path %></li>
  <li><%= link_to 'All Repairs', repairs_path %></li>
  <li><%= link_to 'All Complications', complications_path %></li>
</ul>
