<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @technician.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @technician.name %>
</p>

<p>
  <strong>Skill level:</strong>
  <%= @technician.skill_level %>
</p>

<p>
  <strong>Status:</strong>
  <%= @technician.status %>
</p>


<%= link_to 'Edit', edit_technician_path(@technician) %> |
<%= link_to 'Back', technicians_path %>
