<%= form_with(model: ticket_data_entry_form) do |form| %>
  <% if @ticket_data_entry_form.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@ticket_data_entry_form.errors.count, "error") %> prohibited this ticket_data_entry from being saved:</h2>
      <ul>
      <% @ticket_data_entry_form.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :invoice_number %>
    <%= form.text_field :invoice_number%>
  </div>

  <div class="field">
    <%= form.label :intake_date %>
    <%= form.text_field :intake_date %>
  </div>

  <div class="field">
    <%= form.label :item_number %>
    <%= form.text_field :item_number %>
  </div>


  <div class="field">
    <%= form.label :labor_charge %>
    <%= form.text_field :labor_charge %>
  </div>

  <h2>Repairs</h2>
  <div data-controller="fields-for">
    <%= fields_for 'ticket_data_entry_form[repairs][]', Repair.new, child_index: 0 do |builder| %>
      <div data-target="fields-for.fields" class="border mb-4" id="repair_0">
        <%= render 'repair_fields', form: builder %>
      </div>
    <% end %>
    <%= fields_for 'ticket_data_entry_form[repairs][]', Repair.new, child_index: 1 do |builder| %>
      <div data-target="fields-for.fields" class="border mb-4" id="repair_1">
        <%= render 'repair_fields', form: builder %>
      </div>
    <% end %>
    <%= fields_for 'ticket_data_entry_form[repairs][]', Repair.new, child_index: 2 do |builder| %>
      <div data-target="fields-for.fields" class="border mb-4" id="repair_2">
        <%= render 'repair_fields', form: builder %>
      </div>
    <% end %>
    <%= fields_for 'ticket_data_entry_form[repairs][]', Repair.new, child_index: 3 do |builder| %>
      <div data-target="fields-for.fields" class="border mb-4" id="repair_3">
        <%= render 'repair_fields', form: builder %>
      </div>
    <% end %>
    <%= fields_for 'ticket_data_entry_form[repairs][]', Repair.new, child_index: 4 do |builder| %>
      <div data-target="fields-for.fields" class="border mb-4" id="repair_4">
        <%= render 'repair_fields', form: builder %>
      </div>
    <% end %>
    <%# <%= button_tag("Add Repair", {data: { action: "fields-for#add", fields: form.fields_for(:repairs, Repair.new, child_index:"new_field"){|builder| render("repair_fields", form: builder)}}}) %> 
  </div>
  <%# <%= link_to_add_fields "Add Repair", form, :repairs %>
  
  <div class="actions mt-4">
    <%= form.submit class: 'frm-control btn btn-primary' %>
  </div>
<% end %>
