<h4>Repair Details</h4>
<fieldset>

  <%= form.label :charge %>
  <%= form.text_field :charge %>

  <%= form.check_box :_destroy, {data: {action: "fields-for#hide"}} %>
  <%= form.label :_destroy %>

  <div class="ms-3">
    <h4>Tasks</h4>
    <div data-controller="fields-for">
      <%= fields_for :tasks do |builder| %>
        <div data-target="fields-for.fields">
          <%= render 'task_fields', form: builder %>
          <%= button_tag("Add Task", {data: {
            action: "fields-for#add",
            fields: form.fields_for(:tasks, Task.new, child_index:"new_field") {
              |builder| render("task_fields", form: builder).gsub! '"', "'"
            }}}) %>
        </div>
      <% end %>
      
    </div>
    <%# <%= link_to_add_fields "Add Task", form, :tasks %>
  </div>
</fieldset>
