<p id="notice"><%= notice %></p>

<p>
  <strong>Customer Name:</strong>
  <%= @ticket_data_entry.customer_name %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @ticket_data_entry.phone_number %>
</p>

<p>
  <strong>Invoice Number:</strong>
  <%= @ticket_data_entry.invoice_number %>
</p>

<p>
  <strong>Estimate Number:</strong>
  <%= @ticket_data_entry.estimate_number %>
</p>

<p>
  <strong>Intake Date:</strong>
  <%= @ticket_data_entry.intake_date %>
</p>

<p>
  <strong>Request Date:</strong>
  <%= @ticket_data_entry.request_date %>
</p>

<p>
  <strong>Order Type</strong>
  <%= @ticket_data_entry.order_type %>
</p>

<p>
  <strong>Discount</strong>
  <%= @ticket_data_entry.discount %>
</p>

<p>
  <strong>Item Number</strong>
  <%= @ticket_data_entry.item_number %>
</p>

<p>
  <strong>Item Type</strong>
  <%= @ticket_data_entry.item_type %>
</p>

<p>
  <strong>Labor Charge</strong>
  <%= @ticket_data_entry.labor_charge %>
</p>

<p>
  <strong>Material Charge</strong>
  <%= @ticket_data_entry.material_charge %>
</p>


<%= link_to 'Edit', edit_ticket_data_entry_path(@ticket_data_entry) %> |
<%= link_to 'Back', ticket_data_entries_path %>