<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice Number:</strong>
  <%= @ticket_data_entry.invoice_number %>
</p>

<p>
  <strong>Intake Date:</strong>
  <%= @ticket_data_entry.intake_date %>
</p>

<p>
  <strong>Request Date:</strong>
  <%= @ticket_data_entry.request_date %>
</p>

<p>
  <strong>Item Number</strong>
  <%= @ticket_data_entry.item_number %>
</p>

<p>
  <strong>Labor Charge</strong>
  <%= @ticket_data_entry.labor_charge %>
</p>


<%= link_to 'Edit', edit_ticket_data_entry_path(@ticket_data_entry) %> |
<%= link_to 'Back', ticket_data_entries_path %>