<%= form_with(model: complication) do |form| %>
  <% if complication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complication.errors.count, "error") %> prohibited this complication from being saved:</h2>

      <ul>
        <% complication.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time %>
  </div>

  <div class="field">
    <%= form.label :charge %>
    <%= form.text_field :charge %>
  </div>

  <div class="field">
    <%= form.label :repair_id %>
    <%= form.text_field :repair_id %>
  </div>

  <div class="field">
    <%= form.label :complication_type_id %>
    <%= form.text_field :complication_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
