<script type="text/javascript">
  function updateComplicationPrice() {
    // Capture id of selected item
    var e = document.getElementById("complication_standard_complication_id");
    var standard_complication_id = e.value;

    // Call to retrive standard complication JSON
    const fetchResponsePromise = fetch(`/standard_complications/${standard_complication_id}.json`).then((response) => {
      return response.json();
    }).then((data) => {
      document.getElementById('complication_price').value = (parseFloat(data.price.cents) / 100.0).toString();
    });

    // Verifying payload recieved
    console.log(fetchResponsePromise);
  };
</script>

<%= form_with(model: [repair, complication], data: { turbo_frame: 'complications_table' }) do |form| %>
  <% if complication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complication.errors.count, "error") %> prohibited this complication from being saved:</h2>

      <ul>
        <% complication.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row mb-3 align-items-end">
    <div class="col-7">
      <!--- Super fucking hack alert. https://stackoverflow.com/questions/70937918/proper-generation-of-rails-field-with-errors-for-select-list-of-belongs-to-duri -->
      <% if form.object.errors.include?(:standard_complication) %>
        <div class='field_with_errors'>
      <% end %>
        <%= form.label :standard_complication_id, class: 'form-label'%>
        <%= form.select :standard_complication_id, standard_complications.map { |sc| [sc.name, sc.id] }, {include_blank: ''}, class: 'form-select', onchange: 'updateComplicationPrice();' %>
      <% if form.object.errors.include?(:standard_complication) %>
        </div>
      <% end %>
      <!-- /hack -->
    </div>
    <div class="col-2">
      <%= form.label :price, class: 'form-label' %>
      <%= form.number_field :price, step: '0.01', class: 'form-control'%>
    </div>
    <div class="col text-end">
      <div class="actions">
        <%= form.submit class: 'form-control btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
