<table class="table table-hover" id="complications_table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Repair</th>
      <th scope="col" class="text-end">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% complications.each do |complication| %>
      <tr>
        <th scope="row"><%= complication.id %></th>
        <td><%= link_to complication.standard_complication, complication.standard_complication %></td>
        <td><%= link_to_unless(controller.controller_name == 'repairs', complication.repair, complication.repair) %></td>
        <td class="text-end"><%= complication.price.format %></td>
        <td class="text-end">
          <%= link_to 'Details', complication_path(complication), data: { "turbo-frame": :"_top" }, class: 'btn btn-outline-secondary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
