<table class="table table-hover table-borderless" id="complications_table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Repair</th>
      <th scope="col" class="text-end">Price</th>
    </tr>
  </thead>
  <tbody>
    <% complications.each do |complication| %>
      <tr class="<%= dom_class(complication) %> clickable-row" id="<%= dom_id(complication) %>" data-href="<%= complication_path(complication) %>">
        <td><%= complication.standard_complication %></td>
        <td><%= complication.repair %></td>
        <td class="text-end"><%= complication.price.format %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
{
  const clickable_rows = document.getElementsByClassName("clickable-row");
  Array.prototype.forEach.call(clickable_rows, (row) => {
      row.addEventListener("click", () => {
        const fakeLink = document.createElement("a");
        document.body.append(fakeLink);
        fakeLink.href = row.dataset.href
        fakeLink.click();
        fakeLink.remove();
      });
  });
}
</script>
