<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @complication.time %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @complication.charge %>
</p>

<p>
  <strong>Repair:</strong>
  <%= @complication.repair_id %>
</p>

<p>
  <strong>Complication type:</strong>
  <%= @complication.complication_type_id %>
</p>

<%= link_to 'Edit', edit_complication_path(@complication) %> |
<%= link_to 'Back', complications_path %>
