<div class="row mb-5">
  <div class="col">
    <% if params[:show_archive] == 'true' %>
      <h1>Archived Item Statuses</h1>
    <% else %>
      <h1>Item Statuses</h1>
    <% end %>
  </div>
  <div class="col text-end">
    <%= link_to 'Add New Item Status', new_item_status_path, class: 'btn btn-outline-primary' %>
    <% if params[:show_archive] == 'true' %>
      <%= link_to 'Active Item Statuses', item_statuses_path(), class: 'btn btn-outline-success me-2' %>
    <% else %>
      <%= link_to 'Archived Item Statuses', item_statuses_path(show_archive: 'true'), class: 'btn btn-outline-success me-2' %>
    <% end %>
  </div>
</div>

<table class="table table-hover" id="item_statuses_table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Default?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @item_statuses.each do |item_status| %>
      <tr class="<%= dom_class(item_status) %>" id="<%= dom_id(item_status) %>">
        <td>
          <%= item_status %>
        </td>
        <td>
          <% if item_status.default? %>
            ✅
          <% else %>
            <%= form_with url: set_default_item_status_url(item_status), method: :patch do |form| %>
              <%= form.submit 'make default', class: 'btn btn-sm btn-outline-secondary' do %>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td class="text-end">
          <%= link_to 'Details', item_status, class: 'btn btn-outline-secondary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if params[:show_archive] == 'true' %>
  <%= pagination_nav(@pagy, item_statuses_path(page: @pagy.prev, show_archive: 'true'), item_statuses_path(page: @pagy.next, show_archive: 'true')) %>
<% else %>
  <%= pagination_nav(@pagy, item_statuses_path(page: @pagy.prev), item_statuses_path(page: @pagy.next)) %>
<% end %>