<div class="row mb-5">
  <div class="col">
    <h1>Item Statuses</h1>
  </div>
  <div class="col text-end">
    <%= link_to 'Add New Item Status', new_item_status_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

<table class="table table-hover" id="item_statuses_table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Default?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @item_statuses.each do |item_status| %>
      <tr class="<%= dom_class(item_status) %>" id="<%= dom_id(item_status) %>">
        <td>
          <%= item_status %>
        </td>
        <td>
          <% if item_status.default? %>
            ✅
          <% else %>
            <%= form_with url: set_default_item_status_url(item_status), method: :patch do |form| %>
              <%= form.submit 'make default', class: 'btn btn-sm btn-outline-secondary' do %>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td class="text-end">
          <%= link_to 'Details', item_status, class: 'btn btn-outline-secondary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
