<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @task_type.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task_type.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task_type.status %>
</p>

<%= link_to 'Edit', edit_task_type_path(@task_type) %> |
<%= link_to 'Back', task_types_path %>
