<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice estimate:</strong>
  <%= @invoice.estimate_number %>
</p>

<p>
  <strong>Invoice total:</strong>
  <%= @invoice.invoice_total %>
</p>

<p>
  <strong>Intake date:</strong>
  <%= @invoice.intake_date %>
</p>

<p>
  <strong>Number:</strong>
  <%= @invoice.number %>
</p>

<p>
  <strong>Date fulfilled:</strong>
  <%= @invoice.date_fulfilled %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @invoice.customer_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @invoice.notes %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
