<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :time %>
    <%= form.number_field :time %>
  </div>

  <div class="field">
    <%= form.label :tech_name %>
    <%= form.text_field :tech_name %>
  </div>

  <div class="field">
    <%= form.label :repair_charge %>
    <%= form.text_field :repair_charge %>
  </div>

  <div class="field">
    <%= form.label :repair_number %>
    <%= form.text_field :repair_number %>
  </div>

  <div class="field">
    <%= form.label :task_type_name %>
    <%= form.text_field :task_type_name%>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
