<%= form_with(model: item_type) do |form| %>
  <% if item_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item_type.errors.count, "error") %> prohibited this item_type from being saved:</h2>

      <ul>
        <% item_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :component %>
    <%= form.text_field :component %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
