<script type="text/javascript">
  function updateInventoryItemPrice() {
    // Capture id of selected item
    var e = document.getElementById("inventory_item_standard_inventory_item_id");
    var standard_inventory_item_id = e.value;

    // Call to retrive standard inventory_item JSON
    const fetchResponsePromise = fetch(`/standard_inventory_items/${standard_inventory_item_id}.json`).then((response) => {
      return response.json();
    }).then((data) => {
      document.getElementById('inventory_item_price').value = data.price; 
    });

    // Verifying payload recieved
    console.log(fetchResponsePromise);
  };
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
$(document).ready(function() {
  $('#inventory_item_standard_inventory_item_id').select2();
});
</script>
<%= form_with(model: [repair, inventory_item]) do |form| %>
  <% if inventory_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory_item.errors.count, "error") %> prohibited this inventory item from being saved:</h2>

      <ul>
        <% inventory_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row mb-3 align-items-end">
    <div class="col-8">
      <!--- Super fucking hack alert. https://stackoverflow.com/questions/70937918/proper-generation-of-rails-field-with-errors-for-select-list-of-belongs-to-duri -->
      <% if form.object.errors.include?(:standard_inventory_item) %>
        <div class='field_with_errors'>
      <% end %>
        <%= form.label :standard_inventory_item_id, class: 'form-label'%>
        <%= form.select :standard_inventory_item_id, standard_inventory_items.map { |sc| [sc.name, sc.id] }, {include_blank: ''}, class: 'form-control', onchange: 'updateInventoryItemPrice();' %>
      <% if form.object.errors.include?(:standard_inventory_item) %>
        </div>
      <% end %>
      <!-- /hack -->
    </div>
    <div class="col-1">
      <%= form.label :price, class: 'form-label' %>
      <%= form.number_field :price, class: 'form-control'%>
    </div>
    <div class="col text-end">
      <div class="actions">
        <%= form.submit class: 'form-control btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
