<%= form_with model: @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:" %>
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Personal Information</h2>
  <div class="mb-3">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :email, class: 'form-label' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <% if ['new', 'create'].include? action_name %>
    <h3 class="mt-5">Initial Password</h3>
    <%= render 'form_password_fields', f: f %>
  <% end %>
  <% if current_user.admin? %>
    <h3 class="mt-5">Role and Status</h3>
    <div class="mb-3">
      <%= f.label :role, class: 'form-label' %>
      <%= f.select :role, User.roles.keys.map {|k| [k.capitalize, k]}, {}, class: 'form-select' %>
    </div>
    <div class="mb-3">
      <%= f.check_box :status, {}, "active", "inactive" %>
      <%= f.label :status, 'Active', class: 'form-label' %>
    </div>
  <% end %>
  <%= f.submit 'Save', class: 'form-control btn btn-success' %>
  <% if ['edit', 'update'].include? action_name %>
    <h3 class="mt-5">Update Password</h3>
    <%= render 'form_password_fields', f: f %>
    <%= f.submit 'Save new password', class: 'form-control btn btn-secondary' %>
  <% end %>
<% end %>
