<div class="row mb-5">
  <div class="col">
    <h1>Employees</h1>
  </div>
  <div class="col text-end">
    <%= link_to 'Add New Employee', new_user_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

<table class="table table-hover" id="users_table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Email Address</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col">Last Seen</th>
      <th scope="col">End Date</th>
      <th scope="col">Efficiency</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= dom_class(user) %>" id="<%= dom_id(user) %>">
        <th scope="row">
          <%= user.id %>
        </th>
        <td>
          <%= user %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.role %>
        </td>
        <td>
          <%= user.status %>
        </td>
        <td>
          <%= user.last_sign_in_at&.localtime&.to_formatted_s(:short) %>
        </td>
        <td><%= user.end_date %></td>
        <td><%= user.efficiency %></td>
        <td class="text-end">
          <%= link_to 'Details', user, class: 'btn btn-light btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
