<div class="row mb-5">
  <div class="col">
    <h1>Employee Information</h1>
  </div>
  <div class="col text-end">
    <%= link_to '&laquo Back to List'.html_safe, users_path, class: 'btn btn-outline-primary me-5' %>
    <%= link_to_if(policy(@user).edit?, 'Edit', edit_user_path(@user), class: 'btn btn-outline-primary me-2') {} %>
    <%= link_to_if(policy(@user).destroy?, 'Delete', "/admin/users/#{@user.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger') {} %>
  </div>
</div>

<h2><%= @user %></h2>
<dl class="row">
  <dt class="col-sm-3">Email Address</dt>
  <dd class="col-sm-9">
    <%= @user.email %>
  </dd>
  <dt class="col-sm-3">Status</dt>
  <dd class="col-sm-9">An <%= @user.status %> user with the <%= @user.role %> role.</dd>
  <dt class="col-sm-3">Activity</dt>
  <dd class="col-sm-9">Signed in <%= @user.sign_in_count %> times since <%= @user.created_at.localtime.to_s(:short) %>.</dd>
  <% if @user.current_sign_in_at %>
    <dt class="col-sm-3">Last Sign In</dt>
    <dd class="col-sm-9"><%= @user.current_sign_in_at.localtime.to_s(:short) %> from <%= @user.current_sign_in_ip %>.</dd>
  <% end %>
  <dt class="col-sm-3">Role</dt>
  <dd class="col-sm-9">
    <%= @user.role %>
  </dd>
  <dt class="col-sm-3">End Date</dt>
  <dd class="col-sm-9">
    <%= @user.end_date %>
  </dd>
  <dt class="col-sm-3">Efficiency</dt>
  <dd class="col-sm-9">
    <%= @user.efficiency %>
  </dd>
</dl>

<h2 class="mt-5">Created Work Orders</h2>

<%= render 'work_orders/table', work_orders: @created_work_orders %>
