<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @user.permission %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @user.end_date %>
</p>

<p>
  <strong>Efficiency:</strong>
  <%= @user.efficiency %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
