<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :customer_type_id, class: 'form-label' %>
    <%= form.collection_select :customer_type_id, customer_types, :id, :name, {include_blank: ''}, {class: 'form-select'} %>
  </div>

  <div class="mb-3">
    <%= form.label :first_name, class: 'form-label' %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, class: 'form-label' %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :business_name, class: 'form-label' %>
    <%= form.text_field :business_name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :phone_number, class: 'form-label' %>
    <%= form.text_field :phone_number, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :alternative_phone_number, class: 'form-label' %>
    <%= form.text_field :alternative_phone_number, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :email_address, class: 'form-label' %>
    <%= form.text_field :email_address, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :street_address, class: 'form-label' %>
    <%= form.text_field :street_address, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :city, class: 'form-label' %>
    <%= form.text_field :city, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :state, class: 'form-label' %>
    <%= form.text_field :state, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :zip_code, class: 'form-label' %>
    <%= form.text_field :zip_code, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: 'form-control btn btn-success' %>
  </div>
<% end %>
