<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Business name</th>
      <th scope="col">Email address</th>
      <th scope="col">Phone number</th>
      <th scope="col">Address</th>
      <th scope="col">Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% customers.each do |customer| %>
      <tr class="<%= dom_class(customer) %>" id="<%= dom_id(customer) %>">
        <th scope="row"><%= customer.id %></th>
        <td><%= customer.first_name %>
        <td><%= customer.last_name %></td>
        <td><%= customer.business_name %></td>
        <td><%= mail_to customer.email_address %></td>
        <td><%= link_to customer.phone_number, "tel:#{customer.phone_number}" %></td>
        <td>
          <%= customer.street_address %><br>
          <%= customer.city %>, <%= customer.state %> <%= customer.zip_code %>
        </td>
        <td><%= link_to_unless(controller.controller_name == 'customer_types', customer.customer_type, customer.customer_type) %></td>
        <td>
          <%= link_to 'Details', customer_path(customer), class: 'btn btn-light btn-sm mr-4' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
