<div class="row mb-5">
  <div class="col">
    <h1>Customers</h1>
  </div>
  <div class="col text-end">
    <%= link_to 'Add New Customer', new_customer_path, class: 'btn btn-outline-primary' %>
  </div>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Business name</th>
      <th scope="col">Phone number</th>
      <th scope="col">Email address</th>
      <th scope="col">Street address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zip code</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <th scope="row"><%= customer.id %></th>
        <td><%= link_to customer.first_name, customer %></td>
        <td><%= link_to customer.last_name, customer %></td>
        <td><%= customer.business_name %></td>
        <td><%= customer.phone_number %></td>
        <td><%= customer.email_address %></td>
        <td><%= customer.street_address %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state %></td>
        <td><%= customer.zip_code %></td>
        <td>
          <%= link_to 'Edit', edit_customer_path(customer), class: 'btn btn-light btn-sm mr-4' %>
            <%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn text-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
