<div class="row mb-5">
  <div class="col">
    <% if params[:show_archive] == 'true' %>
      <h1>Archived Customers</h1>
    <% else %>
      <h1>Customers</h1>
    <% end %>
  </div>
  <div class="col text-end">
    <%= link_to 'Add New Customer', new_customer_path, class: 'btn btn-outline-primary me-2' %>
    <% if params[:show_archive] == 'true' %>
      <%= link_to 'Active Customers', customers_path(), class: 'btn btn-outline-success me-2' %>
    <% else %>
      <%= link_to 'Archived Customers', customers_path(show_archive: 'true'), class: 'btn btn-outline-success me-2' %>
    <% end %>
  </div>
</div>

<%= form_with url: customers_path, method: :get, data: { turbo_frame: 'customers' } do |f| %>
  <div class="row">
    <div class="col-8">
      <%= f.search_field :query, value: params[:query], class: 'form-control', autofocus: true, placeholder: 'Search. Type a last name and hit [enter]' %>
    </div>
  </div>
<% end %>

<%= turbo_frame_tag 'customers' do %>
  <%= render 'table', customers: @customers %>
  <% if params[:show_archive] == 'true' %>
    <%= pagination_nav(@pagy, customers_path(page: @pagy.prev, query: params[:query], show_archive: 'true'), customers_path(page: @pagy.next, query: params[:query], show_archive: 'true')) %>
  <% else %>
    <%= pagination_nav(@pagy, customers_path(page: @pagy.prev, query: params[:query]), customers_path(page: @pagy.next, query: params[:query])) %>
  <% end %>
<% end %>
