<div class="row mb-3">
  <div class="col">
    <h1 class="display-6"><%= discardable_model_list_title 'Customers' %></h1>
  </div>
  <div class="col text-end">
    <%= link_to 'Add New Customer', new_customer_path, class: 'btn btn-sm btn-outline-primary' %>
  </div>
</div>

<div class="mb-4">
  <%= form_with url: customers_path, method: :get, data: { turbo_frame: 'customers' } do |f| %>
    <div class="row">
      <div class="col-8">
        <%= f.search_field :query, value: params[:query], class: 'form-control form-control-sm', autofocus: true, placeholder: 'Search. Type a first name or last name and hit [enter]' %>
      </div>
      <div class="filter col-4 d-flex align-items-center justify-content-end">
        <strong class="text-muted">Filter:</strong>
        <% if params[:show_archive] %>
          <%= link_to 'archived', customers_path, class: "badge rounded-pill bg-secondary" %>
        <% else %>
          <%= link_to 'archived', customers_path(show_archive: 'true'), class: "badge rounded-pill bg-light text-muted" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= turbo_frame_tag 'customers' do %>
  <%= render 'table', customers: @customers %>
  <% if params[:show_archive] == 'true' %>
    <%= pagination_nav(@pagy, customers_path(page: @pagy.prev, query: params[:query], show_archive: 'true'), customers_path(page: @pagy.next, query: params[:query], show_archive: 'true')) %>
  <% else %>
    <%= pagination_nav(@pagy, customers_path(page: @pagy.prev, query: params[:query]), customers_path(page: @pagy.next, query: params[:query])) %>
  <% end %>
<% end %>
