</br>

<ul>
    <td><%= link_to 'Customer Type', customer_types %></td>
    <td><%= link_to 'Brands', brands%></td>
    <td><%= link_to 'Item Statuses', item_statuses %></td>
    <td><%= link_to 'Fees', fees %></td>
    <td><%= link_to 'Discounts', discounts %></td>
    <td><%= link_to 'Shop Parameters', shop_parameters %></td>
    <td><%= link_to 'Employees', users %></td>
    <td><%= link_to 'Accounts', accounts %></td>
    <td><%= link_to 'Item Types', item_types %></td>
</ul>