</br>

<ul>
    <td><%= link_to 'Customer Type', customer_types_path %></td>
    <br>
    <td><%= link_to 'Brands', brands_path%></td>
    <br>
    <td><%= link_to 'Item Statuses', item_statuses_path %></td>
    <br>
    <td><%= link_to 'Fees', fees_path %></td>
    <br>
    <td><%= link_to 'Discounts', discounts_path %></td>
    <br>
    <td><%= link_to 'Shop Parameters', shop_parameters_path %></td>
    <br>
    <td><%= link_to 'Employees', users_path %></td>
    <br>
    <td><%= link_to 'Accounts', accounts_path %></td>
    <br>
    <td><%= link_to 'Item Types', item_types_path %></td>
</ul>