<%= form_with(model: ticket) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :repair_description %>
    <%= form.text_area :repair_description %>
  </div>

  <div class="field">
    <%= form.label :add_fee %>
    <%= form.text_field :add_fee %>
  </div>

  <div class="field">
    <%= form.label :technician_notes %>
    <%= form.text_area :technician_notes %>
  </div>

  <div class="field">
    <%= form.label :work_status %>
    <%= form.text_field :work_status %>
  </div>

  <div class="field">
    <%= form.label :material %>
    <%= form.text_area :material %>
  </div>

  <div class="field">
    <%= form.label :request_date %>
    <%= form.text_field :request_date %>
  </div>

  <div class="field">
    <%= form.label :order_type %>
    <%= form.text_field :order_type %>
  </div>

  <div class="field">
    <%= form.label :technician_id %>
    <%= form.text_field :technician_id %>
  </div>

  <div class="field">
    <%= form.label :invoice_id %>
    <%= form.text_field :invoice_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
