<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Repair description</th>
      <th>Add fee</th>
      <th>Technician notes</th>
      <th>Work status</th>
      <th>Material</th>
      <th>Request date</th>
      <th>Order type</th>
      <th>Technician</th>
      <th>Invoice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.repair_description %></td>
        <td><%= ticket.add_fee %></td>
        <td><%= ticket.technician_notes %></td>
        <td><%= ticket.work_status %></td>
        <td><%= ticket.material %></td>
        <td><%= ticket.request_date %></td>
        <td><%= ticket.order_type %></td>
        <td><%= ticket.technician_id %></td>
        <td><%= ticket.invoice_id %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
