<p id="notice"><%= notice %></p>

<p>
  <strong>Repair description:</strong>
  <%= @ticket.repair_description %>
</p>

<p>
  <strong>Add fee:</strong>
  <%= @ticket.add_fee %>
</p>

<p>
  <strong>Technician notes:</strong>
  <%= @ticket.technician_notes %>
</p>

<p>
  <strong>Work status:</strong>
  <%= @ticket.work_status %>
</p>

<p>
  <strong>Material:</strong>
  <%= @ticket.material %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @ticket.request_date %>
</p>

<p>
  <strong>Order type:</strong>
  <%= @ticket.order_type %>
</p>

<p>
  <strong>Technician:</strong>
  <%= @ticket.technician_name %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @ticket.invoice_number %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
