<div class="row mb-5">
  <div class="col">
    <h1>Shop Parameter Information</h1>
  </div>
  <div class="col text-end">
    <%= link_to '&laquo Back to List'.html_safe, shop_parameters_path, class: 'btn btn-outline-primary me-5' %>
    <%= link_to 'Edit', edit_shop_parameter_path(@shop_parameter), class: 'btn btn-outline-primary me-2' %>
    <%= link_to 'Delete', @shop_parameter, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
  </div>
</div>

<dl class="row">
  <dt class="col-sm-3">Name</dt>
  <dd class="col-sm-9">
    <%= @shop_parameter.name %>
  </dd>
  <dt class="col-sm-3">Amount</dt>
  <dd class="col-sm-9">
    <%= @shop_parameter.amount %>
  </dd>
</dl>
