<table class="table table-hover table-borderless" id="standard_complications_table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Standard Repair</th>
      <th scope="col" class="text-end">Price</th>
    </tr>
  </thead>
  <tbody>
    <% standard_complications.each do |standard_complication| %>
      <tr class="<%= dom_class(standard_complication) %> clickable-row" id="<%= dom_id(standard_complication) %>" data-href="<%= standard_complication_path(standard_complication) %>">
        <td>
          <%= highlight(standard_complication.name, params[:query]) %>
        </td>
        <td>
          <%= highlight(standard_complication.standard_repair.name, params[:query]) %>
        </td>
        <td class="text-end">
          <%= standard_complication.price.format %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
{
  const clickable_rows = document.getElementsByClassName("clickable-row");
  Array.prototype.forEach.call(clickable_rows, (row) => {
      row.addEventListener("click", () => {
        const fakeLink = document.createElement("a");
        document.body.append(fakeLink);
        fakeLink.href = row.dataset.href
        fakeLink.click();
        fakeLink.remove();
      });
  });
}
</script>
