<table class="table table-hover" id="standard_complications_table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Standard Repair</th>
      <th scope="col" class="text-end">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% standard_complications.kept.each do |standard_complication| %>
      <tr class="<%= dom_class(standard_complication) %>" id="<%= dom_id(standard_complication) %>">
        <td>
          <%= highlight(standard_complication.name, params[:query]) %>
        </td>
        <td>
          <%= link_to_unless(controller.controller_name == 'standard_repairs', highlight(standard_complication.standard_repair.name, params[:query]), standard_complication.standard_repair, data: { "turbo-frame": :"_top" }) %>
        </td>
        <td class="text-end">
          <%= standard_complication.price.format %>
        </td>
        <td class="text-end">
          <%= link_to 'Details', standard_complication, class: 'btn btn-outline-secondary btn-sm', data: { "turbo-frame": :"_top" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
