<table class="table table-hover table-borderless" id="special_order_items_table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" class="text-end">Price</th>
      <th scope="col" class="text-end">Ordering fee</th>
      <th scope="col" class="text-end">Freight fee</th>
      <th scope="col" class="text-end">Total price</th>
    </tr>
  </thead>
  <tbody>
    <% special_order_items.each do |special_order_item| %>
      <tr class="<%= dom_class(special_order_item) %> clickable-row" id="<%= dom_id(special_order_item) %>" data-href="<%= special_order_item_path(special_order_item) %>" tabindex="0">
        <td><%= special_order_item %></td>
        <td class="text-end"><%= special_order_item.price.format %></td>
        <td class="text-end"><%= special_order_item.ordering_fee_price.format %></td>
        <td class="text-end"><%= special_order_item.freight_fee_price.format %></td>
        <td class="text-end"><%= special_order_item.total_price.format %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
{
  function navigate(row) {
    const fakeLink = document.createElement("a");
    document.body.append(fakeLink);
    fakeLink.href = row.dataset.href
    fakeLink.click();
    fakeLink.remove();
  }
  const clickable_rows = document.getElementsByClassName("clickable-row");
  Array.prototype.forEach.call(clickable_rows, (row) => {
      row.addEventListener("click", () => {navigate(row);});
      row.addEventListener("keydown", (e) => {
        if (e.code === "Enter") {navigate(row);}
      });
  });
}
</script>
