<%= form_with(model: invoice_item) do |form| %>
  <% if invoice_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice_item.errors.count, "error") %> prohibited this invoice_item from being saved:</h2>

      <ul>
        <% invoice_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :invoice_number %>
    <%= form.text_field :invoice_number %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :charge %>
    <%= form.text_field :charge %>
  </div>

  <div class="field">
    <%= form.label :quote %>
    <%= form.text_field :quote %>
  </div>

  <div class="field">
    <%= form.label :invoice_id %>
    <%= form.text_field :invoice_id %>
  </div>

  <div class="field">
    <%= form.label :item_type_id %>
    <%= form.text_field :item_type_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
