<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice number:</strong>
  <%= @invoice_item.invoice_number %>
</p>

<p>
  <strong>Number:</strong>
  <%= @invoice_item.number %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @invoice_item.quote %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @invoice_item.charge %>
</p>

<p>
  <strong>Description:</strong>
  <%= @invoice_item.description %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @invoice_item.notes %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @invoice_item.invoice_id %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @invoice_item.item_type_id %>
</p>

<%= link_to 'Edit', edit_invoice_item_path(@invoice_item) %> |
<%= link_to 'Back', invoice_items_path %>
