<%= form_with(model: [@work_order, item]) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :due_date, class: 'form-label' %>
        <%= form.date_field :due_date, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :estimate, class: 'form-label' %>
        <%= form.number_field :estimate, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :labor_estimate, class: 'form-label' %>
        <%= form.number_field :labor_estimate, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :notes, class: 'form-label' %>
        <%= form.text_area :notes, class: 'form-control' %>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <%= form.label :item_status_id, class: 'form-label' %>
        <%= form.select :item_status_id, ItemStatus.all.map{ |item_status| [item_status.name, item_status.id] }, {}, class: 'form-select' %>
      </div>

      <div class="mb-3">
        <%= form.label :brand_id, class: 'form-label' %>
        <%= form.select :brand_id, Brand.all.map{ |brand| [brand.name, brand.id] }, {include_blank: "Select a Brand"}, class: 'form-select' %>
      </div>

      <div class="mb-3">
        <%= form.label :item_type_id, class: 'form-label' %>
        <%= form.select :item_type_id, ItemType.all.map{ |item_type| [item_type.name, item_type.id] }, {include_blank: "Select an Item Type"}, class: 'form-select' %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= form.submit class: 'form-control btn btn-success' %>
  </div>
<% end %>
