<table class="table table-hover table-borderless" id="items_table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Brand</th>
      <th scope="col">Item Type</th>
      <th scope="col">Item Status</th>
      <th scope="col">Due Date</th>
      <th scope="col">Level</th>
      <th scope="col">Notes</th>
      <th scope="col">Ship?</th>
      <th scope="col" class="text-end">Labor</th>
      <th scope="col" class="text-end">Total</th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
      <tr class="<%= dom_class(item) %> clickable-row" id="<%= dom_id(item) %>" data-href="<%= item_path(item) %>">
        <td scope="row"><%= item.position %></th>
        <td><%= item.brand %></td>
        <td><%= item.item_type %></td>
        <td><%= item.item_status %></td>
        <td><%= item.due_date&.to_formatted_s(:long) %></td>
        <td><%= item.level %></td>
        <td><%= item.notes %></td>
        <td><%= item.shipping ? '📦' : '' %></td>
        <td class="text-end"><%= item.price_of_labor.format %></td>
        <td class="text-end"><%= item.price.format %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
var clickable_rows = document.getElementsByClassName('clickable-row')
Array.prototype.forEach.call(clickable_rows, (row) => {
    row.addEventListener('click', () => {
      window.location = row.dataset.href
    })
})
</script>
