<div class="item">
  <h2 class="item"><%= item.brand %> <%= item.item_type %></h2>
  <p>Item <%= item.position %> of <%= item.work_order.items.count %> from W.O. <strong><%= item.work_order.number %></strong></p>
  <p>Date in: <%= item.work_order.in_date.to_formatted_s(:long) %></p>
  <p>Due date: <%= item.due_date.to_formatted_s(:long) %></p>

  <h3>Notes</h3>
  <p><%= item.notes %></p>

  <h4>Estimated Price</h4>
  <p class="repair_total">Final Total<br> Labor Price ________</h3>

  <p>$<%= item.price %> ($<%= item.price_of_labor %> labor)</p>

  <h4>Fees</h4>
  <% item.fees.each do |fee| %>
    $<%= fee.price %> <%= fee %><br>
  <% end %>

  <h4>Discounts</h4>
  <% item.discounts.each do |discount| %>
    <%= discount.percentage_amount %>% / $<%= discount.price %> <%= discount %> <br>
  <% end %>
</div><!-- /item -->

<div class="repairs">
  <h2>Repairs</h2>
  <% item.repairs.each do |repair| %>
    <div class="repair">
      <h3 class="marginless repair_total">Final Labor Price ________</h3>
      <h3 class="marginless"><strong>Repair <%= repair.position %></strong></h3>
      <h3 class="marginless"><%= repair %></h3>
      <h4 class="marginless">$<%= repair.total_price %> total repair price. $<%= repair.price_of_labor %> total repair labor.</h4>
      <h4 class="marginless"><strong>$<%= repair.price %> base repair price</strong></h4>
      <p class="marginless">Level <%= repair.level %></p>
      <p class="marginless">Notes: <%= repair.notes %></p>
      <br>
      <h4 class="marginless"><strong>Complications</strong></h4>
      <% repair.complications.each do |complication| %>
        <p class="marginless">$<%= complication.price %> <%= complication %></p>
      <% end %>
      <h4><strong>Inventory Items</strong></h4>
      <% repair.inventory_items.each do |ii| %>
        <p class="marginless">$<%= ii.price %> <%= ii %> (<%= ii.standard_inventory_item.sku %>)</p>
      <% end %>
      <h4><strong>Special Order Items</strong></h4>
      <% repair.special_order_items.each do |soi| %>
        <p class="marginless">$<%= soi.total_price %> <%= soi %></p>
      <% end %>

      <h4>Production Data</h4>
      <table width="100%">
        <tr>
          <td>Date</td>
          <td>Tech</td>
          <td>Time</td>
          <td>Task</td>
        </tr>
        <tr>
          <td colspan="4">
            <br>
            <hr>
            <br>
            <hr>
            <br>
            <hr>
            <br>
            <hr>
            <br>
            <hr>
            <br>
            <hr>
          </td>
        </tr>
      </table>
      <h4>Quality Data</h4>
      <p>Inspector: _________________    Date: ________</p>
      <p>Defect description: __________________________________</p>
      <h4>Rework</h4>
      <table width="100%">
        <tr>
          <td>Date</td>
          <td>Tech</td>
          <td>Task</td>
        </tr>
        <tr>
          <td colspan="4">
            <br>
            <hr>
          </td>
        </tr>
      </table>
      <h4>Final Approval</h4>
      <p>Inspector: _________________    Date: ________</p>
    </div><!-- /repair -->
  <% end %>
</div><!-- /repairs -->

Contact Date _________________
