<div class="row mb-5">
  <div class="col">
    <h1>Items</h1>
  </div>
  <div class="col text-end">
    <%= link_to 'Add New Item', new_item_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Status</th>
      <th scope="col">Due date</th>
      <th scope="col">Estimate</th>
      <th scope="col">Labor estimate</th>
      <th scope="col">Notes</th>
      <th scope="col">Brand</th>
      <th scope="col">Work order</th>
      <th scope="col">Item type</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <th scope="row"><%= item.id %></th>
        <td><%= item.item_status %></td>
        <td><%= item.due_date.to_formatted_s(:long) %></td>
        <td><%= item.estimate %></td>
        <td><%= item.labor_estimate %></td>
        <td><%= item.notes %></td>
        <td><%= item.brand_id %></td>
        <td><%= item.work_order_id %></td>
        <td><%= item.item_type_id %></td>
        <td>
          <%= link_to 'Show', item %>
          <%= link_to 'Edit', edit_item_path(item) %>
          <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

