<!DOCTYPE html>
<html>
  <head>
    <title>Rugged Thread</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'print', 'data-turbo-track': 'reload' %>
  </head>
  <body class="<%= "#{controller.controller_name} #{controller.action_name}" %>">

    <%= @item %>






  <script>
    // if (window.print) window.print()
  </script>
  </body>
</html>
