<div class="row mb-5">
  <div class="col">
    <h1>Item <%= @item.id %></h1>
    <h2>From <%= link_to @item.work_order, @item.work_order %></h2>
  </div>
  <div class="col text-end">
    <%= link_to '&laquo Back to Work Order'.html_safe, @item.work_order, class: 'btn btn-outline-primary me-5' %>
    <%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-outline-primary me-2' %>
    <%= link_to 'Delete', @item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
  </div>
</div>

<p>
  <strong>Status:</strong>
  <%= @item.item_status %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @item.due_date.to_s(:long) %>
</p>

<p>
  <strong>Estimate:</strong>
  <%= @item.estimate %>
</p>

<p>
  <strong>Labor estimate:</strong>
  <%= @item.labor_estimate %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @item.notes %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @item.item_type %>
</p>

<h2 class="mt-5">Repairs</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Notes</th>
      <th scope="col">Method</th>
      <th scope="col">Description</th>
      <th scope="col">Charge</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @repairs.each do |repair| %>
      <tr>
        <th scope="row"><%= repair.id %></th>
        <td><%= link_to repair.standard_repair, repair.standard_repair %></td>
        <td><%= repair.notes %></td>
        <td><%= repair.standard_repair.method %></td>
        <td><%= repair.standard_repair.description %></td>
        <td><%= repair.standard_repair.charge %></td>
        <td class="text-end">
          <%= link_to 'Details', item_repair_path(@item, repair), class: 'btn btn-light btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2 class="mt-5">Add Repair</h2>

<div class="form-container">
  <%= render 'repairs/form', repair: @repair, item: @item %>
</div>
