<div class="row mb-5">
  <div class="col">
    <h1>
      Item <%= @item.position %> of <%= @item.work_order.items.length %>
      <span class="fs-6 badge bg-light fw-normal align-top">
        <%= link_to @item.item_status, @item.item_status, class: 'text-decoration-none' %>
      </span>
    </h1>
    From <%= link_to @item.work_order, @item.work_order %> by <%= link_to @item.work_order.creator, @item.work_order.creator %>.
  </div>
  <div class="col text-end">
    <%= link_to '&laquo Back to Work Order'.html_safe, @item.work_order, class: 'btn btn-outline-primary me-5' %>
    <%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-outline-primary me-2' %>
    <%= link_to 'Print', print_item_path(@item), class: 'btn btn-outline-primary me-2', target: '_new' %>
    <%= button_to 'Delete', @item, method: :delete, class: 'btn btn-outline-danger' %>
  </div>
</div>

<h2 class="display-1">
  <%= link_to @item.work_order.customer, @item.work_order.customer %>
  <span class="fs-6 badge bg-light fw-normal align-top">
    <%= link_to @item.work_order.customer.customer_type, @item.work_order.customer.customer_type %>
  </span>
</h2>
<h3 class="display-5">
  <%= link_to @item.brand, @item.brand %>
  <%= link_to @item.item_type, @item.item_type %>
</h3>

<div class="row">
  <div class="col">
    <p>
      <strong>Notes:</strong>
      <%= @item.notes %>
    </p>
    <p>
      <strong>Phone:</strong>
      <%= link_to @item.work_order.customer.phone_number, "tel:#{@item.work_order.customer.phone_number}" %>
    </p>
    <p>
      <strong>Ship?</strong>
      <%= @item.shipping ? '📦' : 'no' %>
    </p>
  </div>
  <div class="col">
    <p>
      <strong>Date in:</strong>
      <%= @item.work_order.in_date.to_formatted_s(:long) %>
    </p>
    <p>
      <strong>Due date:</strong>
      <%= @item.due_date&.to_formatted_s(:long) %>
    </p>
    <p>
      <strong>Level:</strong>
      <%= @item.level %>
    </p>
  </div>

  <div class="col">
    <p>
      <strong>Estimate:</strong>
      <%= number_to_currency(@item.estimate) %>
    </p>

    <p>
      <strong>Labor:</strong>
      <%= number_to_currency(@item.labor_estimate) %>
    </p>
    <p>
      <strong>Fees:</strong>
      <%= number_to_currency(@item.fee_total) %>
    </p>
    <p>
      <strong>Discounts ($):</strong>
      <%= number_to_currency(@item.discount_dollar_total) %>
    </p>
    <p>
      <strong>Discounts (%):</strong>
      <%= number_to_currency(@item.discount_percent_total) %>
    </p>

  </div>
</div>

<h2 class="mt-5">Repairs</h2>
<%= render 'repairs/table', repairs: @item.repairs, render_complications: true  %>
<div class="form-container-wide">
  <%= render 'repairs/form', repair: @repair, item: @item, standard_repairs: @standard_repairs %>
</div>

<h2 class="mt-5">Discounts</h2>
<%= render 'discounts/table', discounts: @item.discounts %>
<div class="form-container-wide">
  <%= render 'discounts/form', discount: @discount, item: @item, standard_discounts: @standard_discounts %>
</div>

<h2 class="mt-5">Fees</h2>
<%= render 'fees/table', fees: @item.fees %>
<div class="form-container-wide">
  <%= render 'fees/form', fee: @fee, item: @item, standard_fees: @standard_fees %>
</div>
