<div class="row mb-5">
  <div class="col">
    <h1>Item <%= @item.id %></h1>
    <h2>From <%= link_to @item.work_order, @item.work_order %></h2>
  </div>
  <div class="col text-end">
    <%= link_to '&laquo Back to Work Order'.html_safe, :back, class: 'btn btn-outline-primary me-5' %>
    <%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-outline-primary me-2' %>
    <%= link_to 'Delete', @item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
  </div>
</div>

<p>
  <strong>Status:</strong>
  <%= @item.item_status %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @item.due_date %>
</p>

<p>
  <strong>Estimate:</strong>
  <%= @item.estimate %>
</p>

<p>
  <strong>Labor estimate:</strong>
  <%= @item.labor_estimate %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @item.notes %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @item.item_type %>
</p>
