<div class="row mb-5">
  <div class="col">
    <h1>Item <%= @item.id %></h1>
    <h2>From <%= link_to @work_order, @work_order %></h2>
  </div>
  <div class="col text-end">
    <%= link_to '&laquo Back to Work Order'.html_safe, :back, class: 'btn btn-outline-primary me-4' %>
    <%= link_to 'Edit Item', edit_work_order_item_path(@work_order, @item), class: 'btn btn-outline-primary float-right'%>
  </div>
</div>

<p>
  <strong>Status:</strong>
  <%= @item.item_status %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @item.due_date %>
</p>

<p>
  <strong>Estimate:</strong>
  <%= @item.estimate %>
</p>

<p>
  <strong>Labor estimate:</strong>
  <%= @item.labor_estimate %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @item.notes %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @item.item_type %>
</p>
