<script type="text/javascript">
  function updateDiscountPrice() {
    // Autopopulation
    var e = document.getElementById("discount_standard_discount_id");
    var standard_discount_id = e.value;

    // Call to retrive standard discount JSON
    const fetchResponsePromise = fetch(`/standard_discounts/${standard_discount_id}.json`).then((response) => {
      return response.json();
    }).then((data) => {
      if (data.price) {
        const dollar_field = document.getElementById('discount_price');
        // Set the value
        dollar_field.value = (parseFloat(data.price.cents) / 100.0).toString();
        // Enable if disabled
        dollar_field.disabled = false;
        const percent = document.getElementById('discount_percentage_amount');
        // Disable unused field & clear it
        percent.disabled = true;
        percent.value = "";
      }
      else if (data.percentage_amount) {
        const percent = document.getElementById('discount_percentage_amount');
        // Set the value
        percent.value = data.percentage_amount; 
        // Enable if disabled
        percent.disabled = false;
        const price = document.getElementById('discount_price');
        // Disable unused field & clear it
        price.disabled = true;
        price.value = "";
      }
    });

  };
</script>

<%= form_with(model: [item, discount], data: { turbo_frame: 'discounts_table' }) do |form| %>
  <% if discount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discount.errors.count, "error") %> prohibited this discount from being saved:</h2>
      <ul>
        <% discount.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row mb-3 align-items-end">
    <div class="col-6">
      <!--- Super fucking hack alert. https://stackoverflow.com/questions/70937918/proper-generation-of-rails-field-with-errors-for-select-list-of-belongs-to-duri -->
      <% if form.object.errors.include?(:standard_discount) %>
        <div class='field_with_errors'>
      <% end %>
        <%= form.label :standard_discount_id, class: 'form-label'%>
        <%= form.select :standard_discount_id, standard_discounts.map { |sd| [sd.name, sd.id] }, {include_blank: ''}, class: 'form-select', onchange: 'updateDiscountPrice();' %>
      <% if form.object.errors.include?(:standard_discount) %>
        </div>
      <% end %>
      <!-- /hack -->
    </div>
    <div class="col-2">
      <%= form.label :percentage_amount, class: 'form-label' %>
      <%= form.number_field :percentage_amount, class: 'form-control'%>
    </div>
    <div class="col-2">
      <%= form.label :price, class: 'form-label' %>
      <%= form.number_field :price, step: '0.01', class: 'form-control'%>
    </div>
    <div class="col text-end">
      <div class="actions">
        <%= form.submit class: 'form-control btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
