<table class="table table-hover" id="discounts_table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Percentage Amount</th>
      <th scope="col">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% discounts.each do |discount| %>
      <tr>
        <th scope="row"><%= discount.position %></th>
        <td><%= link_to discount.standard_discount, discount.standard_discount %></td>
        <td><%= number_to_percentage(discount.percentage_amount, strip_insignificant_zeros: true) %></td>
        <td><%= number_to_currency((discount.price || 0)/100.0) %></td>
        <td class="text-end">
          <%= link_to 'Details', discount_path(discount), data: { "turbo-frame": :"_top" }, class: 'btn btn-outline-secondary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
