<div class="row mb-5">
  <div class="col">
    <h1>Discounts</h1>
  </div>
  <div class="col text-end">
    <%= link_to 'Add New Discount', new_discount_path, class: 'btn btn-outline-primary' %>
  </div>
</div>
<table class="table table-hover" id="discounts_table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Percentage Amount</th>
      <th scope="col">Dollar Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @discounts.each do |discount| %>
      <tr class="<%= dom_class(discount) %>" id="<%= dom_id(discount) %>">
        <td>
          <%= link_to discount, discount %>
        </td>
        <td>
          <%= discount.percentage_amount %>
        </td>
        <td>
          <%= discount.dollar_amount %>
        </td>
        <td>
          <%= link_to 'Edit', edit_discount_path(discount), class: 'btn btn-light btn-sm mr-4' %>
          <%= link_to'Delete', discount, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn text-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>