<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @discount.description %>
</p>

<p>
  <strong>Percentage Amount:</strong>
  <%= @discount.percentage_amount %>
</p>

<p>
  <strong>Dollar Amount:</strong>
  <%= @discount.dollar_amount %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
