<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @discount.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @discount.amount %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
