<%= form_with(model: repair_type) do |form| %>
  <% if repair_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repair_type.errors.count, "error") %> prohibited this repair_type from being saved:</h2>

      <ul>
        <% repair_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :time_estimate %>
    <%= form.number_field :time_estimate %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
