<table class="table table-hover table-borderless" id="fees_table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col" class="text-end">Price</th>
    </tr>
  </thead>
  <tbody>
    <% fees.each do |fee| %>
      <tr class="<%= dom_class(fee) %> clickable-row" id="<%= dom_id(fee) %>" data-href="<%= fee_path(fee) %>">
        <td scope="row"><%= fee.position %></th>
        <td><%= fee.standard_fee %></td>
        <td class="text-end"><%= fee.price.format %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
var clickable_rows = document.getElementsByClassName('clickable-row')
Array.prototype.forEach.call(clickable_rows, (row) => {
    row.addEventListener('click', () => {
      window.location = row.dataset.href
    })
})
</script>
