<div class="row mb-5">
  <div class="col">
    <h1>Fee Information</h1>
  </div>
  <div class="col text-end">
    <%= link_to '&laquo Back to List'.html_safe, fees_path, class: 'btn btn-outline-primary me-5' %>
    <%= link_to 'Edit', edit_fee_path(@fee), class: 'btn btn-outline-primary me-2' %>
    <%= button_to 'Delete', @fee, method: :delete, class: 'btn btn-outline-danger' %>
  </div>
</div>

<dl class="row">
  <dt class="col-sm-3">Name</dt>
  <dd class="col-sm-9">
    <%= @fee.name %>
  </dd>
  <dt class="col-sm-3">Price</dt>
  <dd class="col-sm-9">
    <%= @fee.price %>
  </dd>
</dl>
