<div class="row mb-5">
  <div class="col">
    <h1>Standard Inventory Items</h1>
  </div>
  <div class="col text-end">
    <%= link_to 'Add New Standard Inventory Item', new_standard_inventory_item_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

<%= form_with url: standard_inventory_items_path, method: :get, data: { turbo_frame: 'standard_inventory_items' } do |f| %>
  <div class="row">
    <div class="col-8">
      <%= f.search_field :query, value: params[:query], class: 'form-control', autofocus: true, placeholder: 'Search. Type a name or sku and hit [enter]' %>
    </div>
  </div>
<% end %>

<%= turbo_frame_tag 'standard_inventory_items' do %>
  <%= render 'table', standard_inventory_items: @standard_inventory_items %>

  <%= pagination_nav(@pagy, standard_inventory_items_path(page: @pagy.prev, query: params[:query]), standard_inventory_items_path(page: @pagy.next, query: params[:query])) %>
<% end %>
