<%= form_with(model: work_order) do |form| %>
  <% if work_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_order.errors.count, "error") %> prohibited this work_order from being saved:</h2>

      <ul>
        <% work_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer %>
    <%= form.select :customer_id, Customer.all.map{ |u| [ u.first_name, u.id ] } %>
  </div>


  <div class="field">
    <%= form.label :user %>
    <%= form.select :user_id, User.all.map{ |u| [ u.name, u.id ] } %>
  </div>


  <div class="field">
    <%= form.label :in_date %>
    <%= form.date_select :in_date %>
  </div>

  <div class="field">
    <%= form.label :estimate %>
    <%= form.text_field :estimate %>
  </div>

  <div class="field">
    <%= form.label :shipping %>
    <%= form.check_box :shipping %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
