<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
<script type="module">
import "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js";
import "https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js";
$(document).ready(function() {
  $('#work_order_customer_id').select2({theme: 'bootstrap-5'});
  // Hacky solution: https://github.com/select2/select2/issues/5993#issuecomment-1115893633
  $(document).on('select2:open', () => {
    setTimeout(() => document.querySelector('.select2-container--open .select2-search__field').focus(), 0);
  });

  // Due date auto update
  const inDateInput = document.querySelector("#work_order_in_date"),
    dueDateInput = document.querySelector("#work_order_due_date"),
    mainElement = document.querySelector("main"),
    originalDateDifference = new Date(dueDateInput.value) - new Date(inDateInput.value);

  let dueDateModifiedManually = false;

  inDateInput.addEventListener("change", () => {
    if (!dueDateModifiedManually) {
      const dueDate = new Date(+new Date(inDateInput.value) + originalDateDifference);
      dueDateInput.value = dueDate.toISOString().substr(0,10);
    }
  });

  dueDateInput.addEventListener("change", () => {
    dueDateModifiedManually = true;
  });

  $("#work_order_customer_id").on("select2:selecting", (e) => {
    if (e.params.args?.data?.id === "__add_new_customer__") {
      e.preventDefault();
      $("#work_order_customer_id").select2("close");
      // TODO: Open up the customer creation page
      const creationForm = document.createElement("template");
      creationForm.innerHTML = `
        <div class="position-fixed fixed-top w-100 h-100 zindex-modal" style="background: rgba(0,0,0,0.3)" id="newcustomer-background">
          <div class="w-75 h-75 bg-light m-auto rounded" style="margin-top: 15vh !important">
            <iframe class="w-100 h-100 m-0 rounded" src="/customers/new" id="newcustomer"></iframe>
          </div>
        </div>
      `;
      mainElement.append(creationForm.content.cloneNode(true));
      const iframeForm = mainElement.querySelector("#newcustomer"),
        formContainer = mainElement.querySelector("#newcustomer-background");
      iframeForm.onload = () => {
        iframeForm.contentDocument.documentElement.addEventListener("turbo:load", (e) => {
          const {location} = iframeForm.contentWindow,
            {pathname} = location;
          if (!/customers\/\d+\/?$/.test(pathname)) {
            // Cancelled
            formContainer.remove();
          } else {
            // Saved!
            const [,customerId] = pathname.match(/customers\/(\d+)\/?/);
            formContainer.innerHTML = "";
            // Fetch json!
            fetch(`/customers/${customerId}.json`).then((response) => {
              return response.json();
            }).then((data) => {
              const option = new Option(`${data.first_name} ${data.last_name}`, customerId, false, true);
              $("#work_order_customer_id").append(option).trigger("change");
              formContainer.remove();
            }).catch(() => {
              const option = new Option("(Newly created customer)", customerId, false, true);
              $("#work_order_customer_id").append(option).trigger("change");
              formContainer.remove();
            });
          }
        });
      }
      formContainer.addEventListener("click", () => {
        formContainer.remove();
      });
    }
  });

});
</script>

<%= form_with(model: work_order) do |form| %>
  <% if work_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_order.errors.count, "error") %> prohibited this work order from being saved:</h2>

      <ul>
        <% work_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :creator_id, class: 'form-label' %>
    <%= form.collection_select :creator_id, creators, :id, :name, {}, {class: 'form-select'} %>
  </div>

  <!--- Super fucking hack alert. https://stackoverflow.com/questions/70937918/proper-generation-of-rails-field-with-errors-for-select-list-of-belongs-to-duri -->
  <% if form.object.errors.include?(:customer) %>
    <div class='field_with_errors'>
  <% end %>
    <div class="mb-3">
      <%= form.label :customer_id, class: 'form-label' %>
      <%
        add_customer = Object.new
        def add_customer.id
          "__add_new_customer__"
        end
        def add_customer.full_name
          "+ Add New Customer"
        end
      %>
      <%= form.collection_select :customer_id, [add_customer] + customers.kept, :id, :full_name, {include_blank: ''}, class: 'form-select', data: { controller: 'work-order-form', action: 'change->work-order-form#setDueDate'} %>
    </div>
  <% if form.object.errors.include?(:customer) %>
    </div>
  <% end %>
  <!-- /hack -->

  <div class="mb-3">
    <%= form.label :in_date, class: 'form-label' %>
    <%= form.date_field :in_date, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :due_date, class: 'form-label' %>
    <%= form.date_field :due_date, class: 'form-control' %>
  </div>

  <div class="form-check mb-3 mt-4">
    <%= form.check_box :shipping, class: 'form-check-input' %>
    <%= form.label :shipping, class: 'form-check-label' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'form-control btn btn-success' %>
  </div>
<% end %>
