<%= form_with(model: work_order) do |form| %>
  <% if work_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_order.errors.count, "error") %> prohibited this work_order from being saved:</h2>

      <ul>
        <% work_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :creator_id, class: 'form-label' %>
    <%= form.collection_select :creator_id, creators, :id, :name, {}, {class: 'form-select'} %>
  </div>

  <!--- Super fucking hack alert. https://stackoverflow.com/questions/70937918/proper-generation-of-rails-field-with-errors-for-select-list-of-belongs-to-duri -->
  <% if form.object.errors.include?(:customer) %>
    <div class='field_with_errors'>
  <% end %>
    <div class="mb-3">
      <%= form.label :customer_id, class: 'form-label' %>
      <%= form.collection_select :customer_id, customers, :id, :full_name, {include_blank: ''}, class: 'form-select' %>
    </div>
  <% if form.object.errors.include?(:customer) %>
    </div>
  <% end %>
  <!-- /hack -->

  <div class="mb-3">
    <%= form.label :in_date, class: 'form-label' %>
    <%= form.date_field :in_date, class: 'form-control' %>
  </div>

  <div class="form-check mb-3 mt-4">
    <%= form.check_box :shipping, class: 'form-check-input' %>
    <%= form.label :shipping, class: 'form-check-label' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'form-control btn btn-success' %>
  </div>
<% end %>
