<%= form_with do |form| %>

  <div class="field">
    <%= form.label :item_status, "STATUS" %>
    <%= form.select :item_status, ["In Progress", "Complete", "Rework", "Pending"] %>
  </div>

  <div class="field">
    <%= form.label :item_due_date, "Due Date" %>
    <%= form.date_field :item_due_date %>
  </div>

  <div class="field">
    <%= form.label :item_type %>
    <%= form.select :item_type, ["Pants", "Shirt", "Jacket", "Tent"] %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand, ["REI", "North Face", "Patagonia"] %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :item_estimate %>
    <%= form.number_field :item_estimate %>
  </div>

  <div class="field">
    <%= form.label :fees %>
    <%= form.select :fees, ["Extra Material XYZ", "Special Packaging"] %>
  </div>

  <div class="field">
    <%= form.label :discounts %>
    <%= form.select :discounts, ["Holiday Promotion 2022". "Feb. Weekend Event", "Reimbursement"] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>