<%= form_with do |form| %>

  <div class="field">
    <%= form.label :repair_description, "Repair" %>
    <%= form.select :repair_description, ["Sew", "Glue", "Patch"] %>
  </div>

  <div class="field">
    <%= form.label :complication_descriptions, "Complications" %>
    <%= form.select :complication_descriptions, ["Mend additional tear", "Larger patch needed", "Zipper re-replacement"] %>
  </div>

  <div class="field">
    <%= form.label :inventory %>
    <%= form.select :inventory, ["Zipper 24\"", "Jacket Material", "Shoe Lace"] %>
  </div>

  <div class="field">
    <%= form.label :special_order %>
    <%= form.select :special_order, ["Expedited", "Fragile", "Modification"] %>
  </div>

  <div class="field">
    <%= form.label :repair_notes, "Notes" %>
    <%= form.text_area :repair_notes %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.text_field :level %>
  </div>

  <div class="field">
    <%= form.label :labor_estimate %>
    <%= form.number_field :labor_estimate %>
  </div>

  <div class="field">
    <%= form.label :repair_estimate %>
    <%= form.number_field :repair_estimate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>