<table class="table table-hover" id="work_orders_table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Customer</th>
      <th scope="col">Customer type</th>
      <th scope="col">In date</th>
      <th scope="col">Due date</th>
      <th scope="col">Created by</th>
      <th scope="col">Ship?</th>
      <th scope="col" class="text-end">Estimate</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% work_orders.each do |work_order| %>
      <tr class="<%= dom_class(work_order) %>" id="<%= dom_id(work_order) %>">
        <th scope="row"><%= highlight(work_order.number, params[:query]) %></th>
        <td><%= link_to_unless(controller.controller_name == 'customers', highlight(work_order.customer.full_name, params[:query]), work_order.customer, data: { "turbo-frame": :"_top" }) %></td>
        <td><%= link_to work_order.customer.customer_type, work_order.customer.customer_type, data: { "turbo-frame": :"_top" } %></td>
        <td><%= work_order.in_date.to_formatted_s(:long) %></td>
        <td>
          <% if work_order.overdue? %>
            <div class="text-danger">
          <% elsif work_order.due_soon? %>
            <div class="text-success">
          <% end %>
            <%= work_order.due_date.to_formatted_s(:long) %>
          <% if work_order.overdue? || work_order.due_soon? %>
            </div>
          <% end %>
        </td>
        <td><%= link_to_unless(controller.controller_name == 'users', work_order.creator, work_order.creator, data: { "turbo-frame": :"_top" }) %></td>
        <td><%= work_order.shipping ? '📦' : '' %></td>
        <td class="text-end"><%= work_order.price.format %></td>
        <td class="text-end">
          <%= link_to 'Details', work_order, class: 'btn btn-outline-secondary btn-sm', data: { "turbo-frame": :"_top" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
