<div class="row mb-5">
  <div class="col">
    <h1>Work Orders</h1>
  </div>
  <div class="col text-end">
    <%= link_to 'Create New Work Order', new_work_order_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

<%= form_with url: work_orders_path, method: :get, data: { turbo_frame: 'work_orders' } do |f| %>
  <div class="row">
    <div class="col-8">
      <%= f.search_field :query, value: params[:query], class: 'form-control', autofocus: true, placeholder: 'Search. Type a work order number or last name and hit [enter]' %>
    </div>
    <div class="col-4 d-flex align-items-center align-content-end text-right">
      <strong>Filter:</strong>&nbsp;
      <%= link_to 'prod', work_orders_path(status: 'prod') %>&nbsp;|&nbsp;
      <%= link_to 'priced', work_orders_path(status: 'priced') %>&nbsp;|&nbsp;
      <%= link_to 'on hold', work_orders_path(status: 'on hold') %>&nbsp;|&nbsp;
      <%= link_to 'invoiced', work_orders_path(status: 'invoiced') %>
    </div>
  </div>
<% end %>

<%= turbo_frame_tag 'work_orders' do %>
  <%= render 'table', work_orders: @work_orders %>

  <%= pagination_nav(@pagy, work_orders_path(page: @pagy.prev, query: params[:query]), work_orders_path(page: @pagy.next, query: params[:query])) %>
<% end %>
