<div class="row mb-5">
  <div class="col">
    <h1><%= @work_order %></h1>
    Created by <%= link_to @work_order.creator, @work_order.creator %> on <%= @work_order.created_at.to_formatted_s(:full) %>.
  </div>
  <div class="col-7 text-end">
    <%= link_to '&laquo Back to List'.html_safe, work_orders_path, class: 'btn btn-outline-primary me-5' %>
    <%= link_to 'Edit', edit_work_order_path(@work_order), class: 'btn btn-outline-primary me-2' %>
    <%= link_to 'Print', print_work_order_path(@work_order), class: 'btn btn-outline-primary me-2', target: '_new' %>
    <%= button_to 'Archive', archive_work_order_path(@work_order), method: :patch, class: 'btn btn-outline-success me-2' %>
    <%= button_to 'Delete', @work_order, method: :delete, class: 'btn btn-outline-danger' %>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <h2 class="fw-normal">
      <%= link_to @work_order.customer %>
      <span class="fs-6 badge fw-normal align-top">
        <%= link_to @work_order.customer.customer_type, @work_order.customer.customer_type, class: 'text-decoration-none' %>
      </span>
    </h2>
    <h3 class="fw-normal"><%= @work_order.customer.business_name %></h3>
    <h3 class="fw-normal fs-6"><%= link_to @work_order.customer.phone_number.phony_formatted(normalize: :US, format: :national, spaces: '-'),  @work_order.customer.phone_number.empty? ? "" :  "tel:#{@work_order.customer.phone_number}" %></h4>
  </div>
  <div class="col-3">
    <p>
      <strong>Date in:</strong>
      <%= @work_order.in_date.to_formatted_s(:long) %>
    </p>
    <p>
      <strong>Due date:</strong>
      <%= @work_order.due_date.to_formatted_s(:long) %>
    </p>
    <p>
      <strong>Ship?</strong>
      <%= @work_order.shipping ? '📦' : 'no' %>
    </p>
  </div>
  <div class="col-3 text-end">
    <h2 class="display-2"><%= @work_order.price.format %></h3>
  </div>
</div>

<h2 class="mt-5">Items</h2>

<%= render 'items/table', items: @items %>

<h2 class="mt-5">Add Item</h2>

<div class="form-container-wide">
  <%= render 'items/form', item: @item, brands: @brands, item_types: @item_types, item_statuses: @item_statuses, work_order: @work_order %>
</div>
