<div class="row mb-5">
  <div class="col">
    <h1><%= @work_order %></h1>
    created by <%= link_to @work_order.creator, @work_order.creator %>
  </div>
  <div class="col text-end">
    <%= link_to '&laquo Back to List'.html_safe, work_orders_path, class: 'btn btn-outline-primary me-5' %>
    <%= link_to 'Edit', edit_work_order_path(@work_order), class: 'btn btn-outline-primary me-2' %>
    <%= link_to 'Delete', @work_order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
  </div>
</div>

<h2>
  <%= @work_order.customer.first_name %> <%= @work_order.customer.last_name %>
  <span class="fs-6 badge bg-light fw-normal">
    <%= link_to @work_order.customer.customer_type, @work_order.customer.customer_type, class: 'text-decoration-none' %>
  </span>
</h2>
<h3><%= @work_order.customer.business_name %></h3>

<p>
  <strong>In date:</strong>
  <%= @work_order.in_date %>
</p>

<p>
  <strong>Estimate:</strong>
  <%= @work_order.estimate %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @work_order.shipping %>
</p>


<h2 class="mt-5">Items</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Item Status</th>
      <th scope="col">Due Date</th>
      <th scope="col">Estimate</th>
      <th scope="col">Labor Estimate</th>
      <th scope="col">Notes</th>
      <th scope="col">Brand</th>
      <th scope="col">Item Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <th scope="row"><%= item.id %></th>
        <td><%= link_to item.item_status, item.item_status %></td>
        <td><%= item.due_date %></td>
        <td><%= item.estimate %></td>
        <td><%= item.labor_estimate %></td>
        <td><%= item.notes %></td>
        <td><%= link_to item.brand, item.brand %></td>
        <td><%= link_to item.item_type, item.item_type %></td>
        <td class="text-end">
          <%= link_to 'Details', work_order_item_path(@work_order, item), class: 'btn btn-light btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2 class="mt-5">Add Item</h2>

<div class="form-container-wide">
  <%= render 'items/form', item: @item, work_order: @work_order %>
</div>
