<script type="text/javascript">
  function updateRepairFields() {
    const e = document.getElementById("repair_standard_repair_id"),
      standard_repair_id = e.value;

    fetch(`/standard_repairs/${standard_repair_id}.json`).then((response) => {
      return response.json();
    }).then((data) => {
      document.getElementById("repair_price").value = (parseFloat(data.price.cents) / 100.0).toString();
      document.getElementById("repair_level").value = data.level;
    }).catch(() => {
      document.getElementById("repair_price").value = "0.00";
      document.getElementById("repair_level").value = "1";
    });
  };
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
$(document).ready(function() {
  $("#repair_standard_repair_id").select2({theme: "bootstrap-5"});
  // Hacky solution: https://github.com/select2/select2/issues/5993#issuecomment-1115893633
  $(document).on('select2:open', () => {
    setTimeout(() => document.querySelector('.select2-container--open .select2-search__field').focus(), 0);
  });
});
</script>

<%= form_with(model: [item, repair]) do |form| %>
  <% if repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repair.errors.count, "error") %> prohibited this repair from being saved:</h2>
      <ul>
        <% repair.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row align-items-end">
    <div class="col-7">
      <!--- Super fucking hack alert. https://stackoverflow.com/questions/70937918/proper-generation-of-rails-field-with-errors-for-select-list-of-belongs-to-duri -->
      <% if form.object.errors.include?(:standard_repair) %>
        <div class='field_with_errors'>
      <% end %>
        <%= form.label :standard_repair_id, class: 'form-label'%>
        <%= form.select :standard_repair_id, standard_repairs.map { |sr| [sr.name, sr.id] }, {include_blank: ''}, class: 'form-select', onchange: 'updateRepairFields();' %>
    <% if form.object.errors.include?(:standard_repair) %>
      </div>
    <% end %>
    <!-- /hack -->
    </div>
    <div class="col-1">
      <%= form.label :level, class: 'form-label' %>
      <%= form.number_field :level, class: 'form-control'%>
    </div>
    <div class="col-2">
      <%= form.label :price, class: 'form-label' %>
      <%= form.number_field :price, step: '0.01', class: 'form-control'%>
    </div>
    <div class="col-2 text-end">
      <div class="actions">
        <%= form.submit class: 'form-control btn btn-success' %>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-8">
      <%= form.label :notes, class: 'form-label' %>
      <%= form.text_area :notes, class: 'form-control'%>
    </div>
  </div>

<% end %>
