<script type="text/javascript">
  function updateRepairFields() {
    const e = document.getElementById("repair_standard_repair_id");
    const standard_repair_id = e.value;

    const fetchResponsePromise = fetch(`/standard_repairs/${standard_repair_id}.json`).then((response) => {
      return response.json();
    }).then((data) => {
      document.getElementById('repair_price').value = data.charge; 
      document.getElementById('repair_level').value = data.level;
    });
  };
</script>

<%= form_with(model: [item, repair]) do |form| %>
  <% if repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repair.errors.count, "error") %> prohibited this repair from being saved:</h2>

      <ul>
        <% repair.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row mb-3 align-items-end">
    <div class="col">
      <!--- Super fucking hack alert. https://stackoverflow.com/questions/70937918/proper-generation-of-rails-field-with-errors-for-select-list-of-belongs-to-duri -->
      <% if form.object.errors.include?(:standard_repair) %>
        <div class='field_with_errors'>
      <% end %>
        <%= form.label :standard_repair_id, class: 'form-label'%>
        <%= form.select :standard_repair_id, standard_repairs.map { |sr| [sr.name, sr.id] }, {include_blank: ''}, class: 'form-select', onchange: 'updateRepairFields();' %>
    <% if form.object.errors.include?(:standard_repair) %>
      </div>
    <% end %>
    <!-- /hack -->
    </div>
    <div class="col-2">
      <%= form.label :price, class: 'form-label' %>
      <%= form.number_field :price, class: 'form-control'%>
    </div>
    <div class="col-2">
      <%= form.label :level, class: 'form-label' %>
      <%= form.number_field :level, class: 'form-control', onchange: 'updateRepairLevel();'%>
    </div>
    <div class="col">
      <div class="actions">
        <%= form.submit class: 'form-control btn btn-success' %>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-8">
      <%= form.label :notes, class: 'form-label' %>
      <%= form.text_area :notes, class: 'form-control'%>
    </div>
  </div>

<% end %>
