<%= form_with(model: repair) do |form| %>
  <% if repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repair.errors.count, "error") %> prohibited this repair from being saved:</h2>

      <ul>
        <% repair.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :charge %>
    <%= form.text_field :charge %>
  </div>

  <div class="field">
    <%= form.label :quote %>
    <%= form.text_field :quote %>
  </div>

  <div class="field">
    <%= form.label :shop_rate %>
    <%= form.text_field :shop_rate %>
  </div>

  <div class="field">
    <%= form.label :time_total %>
    <%= form.text_field :time_total %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time %>
  </div>

  <div class="field">
    <%= form.label :item_number %>
    <%= form.text_field :item_number %>
  </div>

  <div class="field">
    <%= form.label :invoice_item_id %>
    <%= form.text_field :invoice_item_id %>
  </div>

  <div class="field">
    <%= form.label :repair_type_id %>
    <%= form.text_field :repair_type_id %>
  </div>

  <div class="field">
    <%= form.label :technician_id %>
    <%= form.text_field :technician_id %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
