<%= form_with(model: [@item, repair]) do |form| %>
  <% if repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repair.errors.count, "error") %> prohibited this repair from being saved:</h2>

      <ul>
        <% repair.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :standard_repair_id, class: 'form-label'%>
    <%= form.select :standard_repair_id, StandardRepair.all.map{ |standard_repair| [standard_repair.name, standard_repair.id] }, {include_blank: "Select a Standard Repair"}, class: 'form-select' %>
  </div>

  <div class="mb-3">
    <%= form.label :item_id , class: 'form-label'%>
    <%= form.hidden_field :item_id, class: 'form-hidden' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'form-control btn btn-success' %>
  </div>
<% end %>
