<table class="table table-hover table-borderless" id="repairs_table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Notes</th>
      <th scope="col">Method</th>
      <% unless controller.controller_name == 'items' %>
        <th scope="col">Description</th>
      <% end %>
      <th scope="col">Level</th>
      <th scope="col" class="text-end">Labor</th>
      <th scope="col" class="text-end">Total Price</th>
    </tr>
  </thead>
  <tbody>
    <% repairs.each do |repair| %>
      <tr class="<%= dom_class(repair) %> clickable-row" id="<%= dom_id(repair) %>" data-href="<%= repair_path(repair) %>">
        <td scope="row"><%= repair.position %></th>
        <td><%= repair.standard_repair %></td>
        <td><%= repair.notes %></td>
        <td><%= repair.method %></td>
        <% unless controller.controller_name == 'items' %>
          <td><%= repair.description %></td>
        <% end %>
        <td><%= repair.level %></td>
        <td class="text-end"><%= repair.price.format %></td>
        <td class="text-end"><%= repair.total_price.format %></td>
      </tr>
      <% if render_complications %>
        <% repair.complications.each do |complication| %>
        <tr class="<%= dom_class(complication) %> clickable-row" id="<%= dom_id(complication) %>" data-href="<%= complication_path(complication) %>">
          <td></td>
          <td colspan="4" class="ps-5"><%= complication.standard_complication %></td>
          <td colspan="2" class="text-end"><%= complication.price.format %></td>
        </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<script>
{
  const clickable_rows = document.getElementsByClassName("clickable-row");
  Array.prototype.forEach.call(clickable_rows, (row) => {
      row.addEventListener("click", () => {
        const fakeLink = document.createElement("a");
        document.body.append(fakeLink);
        fakeLink.href = row.dataset.href
        fakeLink.click();
        fakeLink.remove();
      });
  });
}
</script>
