<table class="table table-hover" id="repairs_table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Notes</th>
      <th scope="col">Method</th>
      <% unless controller.controller_name == 'items' %>
        <th scope="col">Description</th>
      <% end %>
      <th scope="col">Level</th>
      <th scope="col" class="text-end">Price</th>
      <th scope="col" class="text-end">Sub Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% repairs.each do |repair| %>
      <tr>
        <th scope="row"><%= repair.position %></th>
        <td><%= link_to repair.standard_repair, repair.standard_repair %></td>
        <td><%= repair.notes %></td>
        <td><%= repair.method %></td>
        <% unless controller.controller_name == 'items' %>
          <td><%= repair.description %></td>
        <% end %>
        <td><%= repair.level %></td>
        <td class="text-end"><%= number_to_currency(repair.price) %></td>
        <td class="text-end"><%= number_to_currency(repair.sub_total) %></td>
        <td class="text-end">
          <%= link_to 'Details', repair_path(repair), class: 'btn btn-light btn-sm' %>
        </td>
      </tr>
      <% if render_complications %>
        <% repair.complications.each do |complication| %>
        <tr>
          <td></td>
          <td colspan="4" class="ps-5"><%= link_to complication.standard_complication, complication.standard_complication %></td>
          <td class="text-end"><%= number_to_currency(complication.price) %></td>
          <td colspan="2" class="text-end">
            <%= link_to 'Details', complication_path(complication), class: 'btn btn-light btn-sm' %>
          </td>
        </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
