<p id="notice"><%= notice %></p>

<p>
  <strong>Charge:</strong>
  <%= @repair.charge %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @repair.quote %>
</p>

<p>
  <strong>Shop rate:</strong>
  <%= @repair.shop_rate %>
</p>

<p>
  <strong>Time total:</strong>
  <%= @repair.time_total %>
</p>

<p>
  <strong>Date:</strong>
  <%= @repair.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @repair.time %>
</p>

<p>
  <strong>Item number:</strong>
  <%= @repair.item_number %>
</p>

<p>
  <strong>Number:</strong>
  <%= @repair.number %>
</p>


<p>
  <strong>Technician:</strong>
  <%= @repair.technician_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @repair.notes %>
</p>

<%= link_to 'Edit', edit_repair_path(@repair) %> |
<%= link_to 'Back', repairs_path %>
