<div class="row mb-5">
  <div class="col">
    <h1>Repair <%= @repair.position %></h1>
    <h2>
      For <%= link_to "Item #{@repair.item.position}", @repair.item %> on
      <%= link_to @repair.item.work_order, @repair.item.work_order %>
    </h2>
  </div>
  <div class="col text-end">
    <%= link_to '&laquo Back to Item'.html_safe, item_path(@repair.item), class: 'btn btn-outline-primary me-5' %>
    <%= link_to 'Edit', edit_repair_path(@repair), class: 'btn btn-outline-primary me-2' %>
    <%= button_to 'Delete', @repair, method: :delete, class: 'btn btn-outline-danger' %>
  </div>
</div>

<p>
  <strong>Standard repair:</strong>
  <%= link_to @repair.standard_repair, @repair.standard_repair %>
</p>

<p>
  <strong>Item:</strong>
  <%= link_to @repair.item.brand, @repair.item.brand %> <%= link_to @repair.item.item_type, @repair.item.item_type %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @repair.notes %>
</p>

<p>
  <strong>Level:</strong>
  <%= @repair.level %>
</p>


<p>
  <strong>Price:</strong>
  <%= number_to_currency(@repair.price) %>
</p>

<h2 class="mt-5">Complications</h2>

<%= render 'complications/table', complications: @repair.complications %>

<h2 class="mt-5">Add Complication</h2>

<div class="form-container">
  <%= render 'complications/form', complication: @complication, repair: @repair, repairs: @repairs, standard_complications: @standard_complications %>
</div>
