<div class="row mb-5">
  <div class="col">
    <h1>
      Repair <%= @repair.position %> of <%= @repair.item.repairs.length %>
      <span class="fs-6 badge fw-normal text-secondary align-top">
        Level <%= @repair.level %>
      </span>
    </h1>
    For <%= link_to "Item #{@repair.item.position}", @repair.item %> (<%= @repair.item.brand %> <%= @repair.item.item_type %>) on
      <%= link_to @repair.item.work_order, @repair.item.work_order %> by <%= link_to @repair.item.work_order.creator, @repair.item.work_order.creator %>.
  </div>
  <div class="col-7 text-end">
    <%= link_to '&laquo Back to Item'.html_safe, item_path(@repair.item), class: 'btn btn-outline-primary me-5' %>
    <%= link_to 'Edit', edit_repair_path(@repair), class: 'btn btn-outline-primary me-2' %>
    <%= button_to 'Delete', @repair, method: :delete, class: 'btn btn-outline-danger' %>
  </div>
</div>

<h2 class="display-5"><%= link_to @repair.standard_repair, @repair.standard_repair %></h2>

<div class="row">
  <div class="col">
    <h3 class="fw-normal"><%= link_to @repair.item.brand, @repair.item.brand %> <%= link_to @repair.item.item_type, @repair.item.item_type %></h3>
    <h4>Notes:</h4>
    <p><%= @repair.notes %></p>
  </div>
  <div class="col text-end">
    <h2 class="display-2"><%= number_to_currency(@repair.total_price/100.0) %></h2>
    <p class="my-0">Total labor: <strong><%= number_to_currency(@repair.price_of_labor/100.0) %></strong></p>
    <p class="my-0">Base repair price: <strong><%= number_to_currency(@repair.price/100.0) %></strong></p>
  </div>
</div>

<h2 class="mt-5">Complications</h2>
<%= turbo_frame_tag 'complications_table' do %>
  <%= render 'complications/table', complications: @repair.complications %>
<% end %>
<div class="form-container-wide">
  <%= render 'complications/form', complication: @complication, repair: @repair, repairs: @repairs, standard_complications: @standard_complications %>
</div>

<h2 class="mt-5">Inventory Items</h2>
<%= render 'inventory_items/table', inventory_items: @repair.inventory_items %>
<div class="form-container-wide">
  <%= render 'inventory_items/form', inventory_item: @inventory_item, repair: @repair, repairs: @repairs, standard_inventory_items: @standard_inventory_items %>
</div>


<h2 class="mt-5">Special Order Items</h2>
<%= render 'special_order_items/table', special_order_items: @repair.special_order_items %>
<div class="form-container-wide">
  <%= render 'special_order_items/form', special_order_item: @special_order_item, repair: @repair, repairs: @repairs %>
</div>
