<div class="row mb-5">
  <div class="col">
    <h1>Standard Discounts</h1>
  </div>
  <div class="col text-end">
    <%= link_to 'Add New Standard Discount', new_standard_discount_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

<table class="table table-hover" id="standard_discounts_table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" class="text-end">Percentage Amount</th>
      <th scope="col" class="text-end">Dollar Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @standard_discounts.kept.each do |standard_discount| %>
      <tr class="<%= dom_class(standard_discount) %>" id="<%= dom_id(standard_discount) %>">
        <td>
          <%= standard_discount %>
        </td>
        <td class="text-end">
          <%= number_to_percentage(standard_discount.percentage_amount, precision: 0) %>
        </td>
        <td class="text-end">
          <%= number_to_currency((standard_discount.price || 0)/100.0) %>
        </td>
        <td class="text-end">
          <%= link_to 'Details', standard_discount, class: 'btn btn-outline-secondary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
