<div class="row mb-5">
  <div class="col">
    <% if params[:show_archive] == 'true' %>
      <h1>Archived Standard Discounts</h1>
    <% else %>
      <h1>Active Standard Discounts</h1>
    <% end %>
  </div>
  <div class="col text-end">
    <%= link_to 'Add New Standard Discount', new_standard_discount_path, class: 'btn btn-outline-primary' %>
    <% if params[:show_archive] == 'true' %>
      <%= link_to 'Active Standard Discounts', standard_discounts_path(), class: 'btn btn-outline-success me-2' %>
    <% else %>
      <%= link_to 'Archived Standard Discounts', standard_discounts_path(show_archive: 'true'), class: 'btn btn-outline-success me-2' %>
    <% end %>
  </div>
</div>

<table class="table table-hover" id="standard_discounts_table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" class="text-end">Percentage Amount</th>
      <th scope="col" class="text-end">Dollar Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @standard_discounts.each do |standard_discount| %>
      <tr class="<%= dom_class(standard_discount) %>" id="<%= dom_id(standard_discount) %>">
        <td>
          <%= standard_discount %>
        </td>
        <td class="text-end">
          <%= number_to_percentage(standard_discount.percentage_amount, precision: 0) %>
        </td>
        <td class="text-end">
          <%= standard_discount.price&.format %>
        </td>
        <td class="text-end">
          <%= link_to 'Details', standard_discount, class: 'btn btn-outline-secondary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
