<div class="row mb-5">
  <div class="col">
    <h1>Standard Discount Information</h1>
  </div>
  <div class="col-7 text-end">
    <%= link_to '&laquo Back to List'.html_safe, standard_discounts_path, class: 'btn btn-outline-primary me-5' %>
    <%= link_to 'Edit', edit_standard_discount_path(@standard_discount), class: 'btn btn-outline-primary me-2' %>
    <%= link_to_archive_or_recover(@standard_discount) %>
    <%= button_to 'Delete', @standard_discount, method: :delete, class: 'btn btn-outline-danger' %>
  </div>
</div>

<dl class="row">
  <dt class="col-sm-3">Name</dt>
  <dd class="col-sm-9">
    <%= @standard_discount.name %>
  </dd>
  <dt class="col-sm-3">Percentage Amount</dt>
  <dd class="col-sm-9">
    <%= number_to_percentage(@standard_discount.percentage_amount, precision: 0) %>
  </dd>
  <dt class="col-sm-3">Dollar Amount</dt>
  <dd class="col-sm-9">
    <%= @standard_discount.price&.format %>
  </dd>
</dl>
