<div class="row mb-5">
  <div class="col">
    <% if params[:show_archive] == 'true' %>
      <h1>Archived Standard Fees</h1>
    <% else %>
      <h1>Standard Fees</h1>
    <% end %>
  </div>
  <div class="col text-end">
    <%= link_to 'Add New Standard Fee', new_standard_fee_path, class: 'btn btn-outline-primary' %>
    <% if params[:show_archive] == 'true' %>
      <%= link_to 'Active Standard Fees', standard_fees_path(), class: 'btn btn-outline-success me-2' %>
    <% else %>
      <%= link_to 'Archived Standard Fees', standard_fees_path(show_archive: 'true'), class: 'btn btn-outline-success me-2' %>
    <% end %>
  </div>
</div>

<table class="table table-hover" id="standard_fees_table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" class="text-end">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @standard_fees.each do |standard_fee| %>
      <tr class="<%= dom_class(standard_fee) %>" id="<%= dom_id(standard_fee) %>">
        <td>
          <%= standard_fee %>
        </td>
        <td class="text-end">
          <%= standard_fee.price.format %>
        </td>
        <td class="text-end">
          <%= link_to 'Details', standard_fee, class: 'btn btn-outline-secondary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
