<%= form_with(model: customer_type) do |form| %>
  <% if customer_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_type.errors.count, "error") %> prohibited this customer type from being saved:</h2>

      <ul>
        <% customer_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="col-6">
      <div>
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="mt-3">
        <%= form.label :turn_around, class: 'form-label' %>
        <%= form.number_field :turn_around, class: 'form-control' %>
      </div>
    </div>

    <div class="col-6">
      <div>
        <%= form.label :q_customer_type_id, "QuickBooks Customer Type", class: 'form-label' %>
        <%= form.text_field :q_customer_type_id, class: 'form-control' %>
      </div>
      <div class="form-text">
        <%= link_to '📗 View Customer Types in Quickbooks', 'https://app.qbo.intuit.com/app/customertypes', target: '_blank' %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: 'form-control btn btn-success' %>
  </div>
<% end %>
