<div class="row mb-5">
  <div class="col">
    <h1>Customer Types</h1>
  </div>
  <div class="col text-end">
    <%= link_to 'Add New Customer Type', new_customer_type_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

<table class="table table-hover" id="customer_types_table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th>Number of Customers</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @customer_types.each do |customer_type| %>
      <tr class="<%= dom_class(customer_type) %>" id="<%= dom_id(customer_type) %>">
        <td><%= customer_type %></td>
        <td><%= customer_type.customers_count %></td>
        <td class="text-end">
          <%= link_to 'Details', customer_type, class: 'btn btn-light btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
