<div class="row mb-5">
  <div class="col">
    <h1><%= @customer_type %></h1>
  </div>
  <div class="col-7 text-end">
    <%= link_to '&laquo Back to List'.html_safe, customer_types_path, class: 'btn btn-outline-primary me-5' %>
    <%= link_to 'Edit', edit_customer_type_path(@customer_type), class: 'btn btn-outline-primary me-2' %>
    <%= link_to_archive_or_recover(@customer_type) %>
    <%= button_to 'Delete', @customer_type, method: :delete, class: 'btn btn-outline-danger' %>
  </div>
</div>

<p>Turn around (days): <%= @customer_type.turn_around %></p>

<p>Quickbooks Online Customer Type Id: <%= @customer_type.q_customer_type_id %></p>

<h2 class="mt-5"><%= pluralize(@customer_type.customers_count, 'Customer') %></h2>

<%= render 'customers/table', customers: @customers %>
