<!DOCTYPE html>
<html>
  <head>
    <title>Rugged Thread</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <!-- Explicitly import bootstrap rather than rely on webpack. -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />

  </head>
  <body class="<%= "#{controller.controller_name} #{controller.action_name}" %>">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <%= image_tag 'patch_small.png' %>
          Rugged Thread
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Dashboard', dashboard_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Customers', customers_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Work Orders', work_orders_path, class: 'nav-link' %>
              </li>
              <li class="nav-item dropdown me-5">
                <a href="#" id="listsDropdownMenuLink" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Lists</a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="listsDropdownMenuLink">
                  <li class="nav-item">
                    <%= link_to 'Accounts', accounts_path, class: 'dropdown-item' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Brands', brands_path, class: 'dropdown-item' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Customer Types', customer_types_path, class: 'dropdown-item' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Employees', users_path, class: 'dropdown-item' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Item Statuses', item_statuses_path, class: 'dropdown-item' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Item Types', item_types_path, class: 'dropdown-item' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Shop Parameters', shop_parameters_path, class: 'dropdown-item' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Standard Complications', standard_complications_path, class: 'dropdown-item' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Standard Discounts', standard_discounts_path, class: 'dropdown-item' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Standard Fees', standard_fees_path, class: 'dropdown-item' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Standard Inventory Items', standard_inventory_items_path, class: 'dropdown-item' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Standard Repairs', standard_repairs_path, class: 'dropdown-item' %>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a href="#" id="userDropdownMenuLink" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= current_user %></a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="userDropdownMenuLink">
                  <li class="nav-item">
                    <%= link_to 'Profile', current_user, class: 'dropdown-item' %>
                  </li>
                  <li class="nav-item">
                    <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container" role="main">
      <%= render 'layouts/flashes' %>
      <%= yield %>
    </main>

    <footer>
      <div class="container text-muted">
        <p>&copy; <%= Time.current.year %> Rugged Thread. All rights reserved.</p>
      </div>
    </footer>

  </body>
</html>
