<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :turn_around, class: 'form-label' %>
    <%= form.number_field :turn_around, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :cost_share, class: 'form-label' %>
    <%= form.number_field :cost_share, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: 'form-control btn btn-success' %>
  </div>
<% end %>
